<script>
	import { fade } from 'svelte/transition';

	import Nav from '../components/Nav.svelte';
	import { messages } from '../stores'

	export let segment;
</script>

<style lang="sass">
	$red: #B21E28;
	$white: #fff;
	#header {
		display: flex;
		align-items: center;
		background: $red;
	}
	#header img {
		vertical-align: middle;
		padding:0 0.2rem 0.2rem 0.2rem;
		height: 50px;
	}
	#header h1	{
		color: $white;
		flex-grow: 1;
		text-align: center;
		padding: 0.5rem;
		margin-bottom: 0;
	}
	main {
		position: relative;
		max-width: 90%;
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@media screen and (min-width: 704px) {
		main {
			max-width: 80%;
		}
	}
	.message {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		height: 100%;
		background: $red;
		color: #eee;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

<header id="header" class="">
	<h1>
		<img src="img/iDA_Icon_Light_Small.png" alt="iDA Logo"> Team Awesome
	</h1>
</header>

{#if $messages}
	<div class="message" transition:fade|local={{duration:200}}>
		<h2>{ $messages }</h2>
	</div>
{/if}

<Nav {segment}/>

<main>
	<slot></slot>
</main>