<script>
	/* imports */
	import { onMount } from 'svelte'

	import ContactForm from '../components/ContactForm.svelte'
	import { addContact } from './_database.js'
	import { messages } from '../stores'

	/* vars */
	let form

	function onSubmit (event, formComponent) {
		const { contact } = event.detail
		addContact(contact)
			.then(() => {
				formComponent.reset()
				messages.set('Contact added!')
				setTimeout(() => messages.set(null), 600)
			})
			.catch(err => {
				showMessage('failed...'),
				console.warn(err)
			})
	}
</script>

<style lang="sass">
	h2 { margin-bottom: 1.5rem; }
</style>

<svelte:head>
	<title>Team Awesome - add contact</title>
</svelte:head>

<h2>Add another companion</h2>

<ContactForm bind:this={form} on:submit={(ev) => onSubmit(ev, form)}></ContactForm>
