<script>
	/* imports */
	import { onMount, onDestroy } from 'svelte'
	import { goto } from '@sapper/app'

	import { getFavourites, updateContact } from './_database.js'
	import Contact from '../components/Contact.svelte'
	import { showMessage } from '../utils/utils.js'
	import { dbMessages } from '../stores'

	/* variables */
	const unsubscribe = dbMessages.subscribe(msg => {
		if (msg === 'db updated') fetchList()
	})

	export let contacts = [];

	/*.Lifecycle */
	onMount(fetchList)
	onDestroy(unsubscribe)

	/*.functions */
	function fetchList() {
		getFavourites()
			.then(list => contacts = list)
	}

	function onUpdate( event ) {
		const { contact } = event.detail
		updateContact(contact)
			.then(fetchList)
			.catch(err => {
				if (err.status === 409) {
					showMessage(
						'There was a conflict while changing favourite status, please try again...',
						null,
						fetchList
					)
				}
				console.warn(err)
			})
	}
</script>

<style type="text/css" media="screen">
	h2 {
		margin-bottom: 1.5rem;
	}
</style>

<svelte:head>
	<title>Team Awesome - favourites</title>
</svelte:head>

<h2>Favourites</h2>

{#if contacts.length}
	{#each contacts as contact (contact._id)}
		<Contact {contact} on:update={onUpdate} on:click={() => goto('contact/'+contact._id)}></Contact>
	{/each}
{:else}
	<p class="none">Looks like there's no one special in your life...</p>
{/if}