<script>
	/*.imports */
	import { onMount, onDestroy } from 'svelte'
	import { goto, prefetchRoutes } from '@sapper/app'
	import debounce from 'lodash/debounce'

	import Contact from '../components/Contact.svelte'
	import InputBox from '../components/InputBox.svelte'
	import { getAllContacts, updateContact, deleteContact } from './_database.js'
	import { sortBy, filterBy, showMessage } from '../utils/utils.js'
	import { dbMessages } from '../stores'

	/* variables */
	let contacts = []
	let filter = ''
	let interval
	let age
	let fetched = null;
	const unsubscribe = dbMessages.subscribe(msg => {
		if (msg === 'db updated') fetchList()
	})
	$: sortedByName = sortBy(contacts, 'name')
	$: sortedByFavourite = sortBy(sortedByName, 'isFavourite')
	$: sortedFilteredContacts = filterBy(sortedByFavourite, filter)
	$: lastUpdate = new Date(age).toLocaleTimeString('nl-BE')

	/*.lifecycle */
	onMount(() => {
		setTimeout(() => fetched = false, 5)
		fetchList()
	})
	onDestroy(unsubscribe)

	/* methods */
	function pause() {
		clearInterval(interval)
		clearInterval(tickInterval)
		interval = null
	}

	function fetchList() {
		getAllContacts()
			.then(list => {
				contacts = list
				age = Date.now()
				fetched = true
			})
			.catch(console.warn)
	}

	function prefetchPage(id) {
		prefetchRoutes([`/contact/${id}`])
	}

	function onUpdate(event) {
		const { contact } = event.detail
		updateContact(contact)
			.then(fetchList)
			.catch(err => {
				if (err.status === 409) {
					showMessage(
						'There was a conflict while changing favourite status, please try again...',
						null,
						fetchList
					)
				}
				console.warn(err)
			})
	}

	const doSearch = (event) => {
		const { target: {value} } = event.detail;
		return debounce(
			() => filter = `name:${value}`
		, 300)()
	}
</script>

<style lang="sass">
	$red: #B21E28;
	.contacts {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		flex: 1 0 33.3333%;
		:global(.contact-card) {
			margin: 1rem;
		}
	}
	:global(.input-box) {
		max-width: 25ch;
		margin: 0 auto 1rem auto;
		white-space: nowrap;
	}
	.age {
		position: absolute;
		top: 0.3rem;
		right: -5%;
		text-align: right;
		width: calc(100vw - 5%);
		font-size: 70%;
	}
	@media screen and (min-width: 704px) {
		.age {
			right: -10%;
			width: calc(100vw - 10%);
		}
	}
	.rocket {
		transform: translate(-5rem, -5rem) rotate(-90deg);
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
		position: fixed;
		top: 50%;
		left: 50%;
	}
</style>

<svelte:head>
	<title>Team Awesome - contact list</title>
</svelte:head>

{#if age }
	<div class="age">
		Last update {lastUpdate}
		{#if !window.navigator.onLine} - Offline {/if}
	</div>
{/if}

{#if sortedFilteredContacts.length}
	<InputBox name={'search'} label={'what droids are you looking for?'} on:keyup={doSearch}></InputBox>

	<div class="contacts">
		{#each sortedFilteredContacts as contact (contact._id)}
			<Contact {contact}
				on:update={onUpdate}
				on:click={() => goto('contact/'+contact._id)}
				on:mouseover|once={() => prefetchPage(contact._id)}
			></Contact>
		{:else}
			<p>Nothing to see here, move along.</p>
		{/each}
	</div>
{:else if fetched === false}
	<img class="rocket" src="img/flying-rocket.gif" alt="flying rocket - credit Andy Nizkokhat on dribble.com">
{/if}
