<script context="module">
	export function preload({ params, query }) {
		return Promise.resolve({params})
	}
</script>
<script>
	import { onMount } from 'svelte'

	import { getContact, deleteContact, updateContact } from '../_database.js'
	import Contact from '../../components/Contact.svelte'
	import ContactForm from '../../components/ContactForm.svelte'
	import { showMessage } from '../../utils/utils.js'

	export let params
	let contact
	let editMode = false

	onMount(() => getContactData(params.id))

	function getContactData(id) {
		return getContact(id)
			.then(data => contact = data)
			.catch(err => {
				if (err.status === 404) showMessage('Contact not found...', '/')
				console.warn('get fail', err)
			})
	}

	function onUpdate(event) {
		const { contact: updated } = event.detail
		updateContact(updated)
			.then(() => {
				getContactData(params.id)
				editMode = false
			})
			.catch(err => {
				if (err.status === 409) {
					const cb = () => getContactData(params.id)
						.then(() => editMode = true)
					editMode = false
					showMessage(
						'There was a conflict while editing, please try again...',
						null,
						cb
					)
				}
				console.warn(err)
			})
	}

	function doDelete(contact) {
		deleteContact(contact)
			.then(() => showMessage('Contact deleted!', '/'))
	}

	function toggleEdit() {
		editMode = !editMode
	}
</script>

<style lang="sass">
	$red: #B21E28;
	button, :global(form) {
		font-weight: 200;
		display: block;
		width: 33.3333%;
		min-width: 20rem;
		max-width: 40rem;
	}
	.delete {
		background: $red;
		color: #eee;
		&:hover:not(:disabled), &:active:not(:disabled) {
			box-shadow: 1px 1px 5px $red;
			border-color: $red;
			background: #222;
			font-weight: 700;
		}
		&:active:not(:disabled) {
			color: $red;
		}
		&:disabled {
			filter: saturate(0);
			opacity: 0.75;
			cursor: not-allowed;
		}
	}
</style>

<svelte:head>
	<title>Team Awesome - contact detail</title>
</svelte:head>

{#if !editMode && contact}
	<Contact {contact} disableHover={true} showFull={true} on:update={onUpdate}></Contact>
	<button class="edit" type="button" on:click={toggleEdit}>Edit</button>
	<button class="delete" type="button" on:click={() => doDelete(contact)} disabled={contact.isFavourite}>delete</button>
{:else if contact && editMode}
	<ContactForm {contact} submitText={'update'} on:submit={onUpdate}></ContactForm>
	<button class="edit" type="button" on:click={toggleEdit}>Cancel edit</button>
{/if}

