<script>
	/* imports */
	import { onMount, createEventDispatcher } from 'svelte'
	import { fade } from 'svelte/transition'

	import InputBox from '../components/InputBox.svelte'

	/* vars */
	const dispatch = createEventDispatcher()
	let customFields = []
	let userFields = []
	let nameField
	let mailField
	let phoneField
	let invalidForm = true
	let form
	export let contact = {};
	export let submitText = 'Save'

	/* lifecycle  */
	onMount(() => {
		if (contact.name) fillFields(contact)
		checkFormValidity()
		return () => reset()
	})

	function fillFields (contact) {
		nameField.input.value = contact.name
		mailField.input.value = contact.email
		phoneField.input.value = contact.phone
		const toExclude = ['isFavourite', 'createdAt', 'name', 'email', 'phone']
		userFields = Object.keys(contact)
			.filter(k => toExclude.indexOf(k) === -1 && k.charAt(0) !== '_')
			.map(k => ({
				label: k,
				value: contact[k]
			}))
	}

	/* functions */
	function onSubmit (event) {
		const formData = new FormData(event.target)
		let contactData = mapToContact(formData)
		contactData = mergeIntoOriginal(contactData, contact)
		dispatch('submit', {contact: contactData})
	}

	function mergeIntoOriginal(data, orig) {
		if (!orig) return data
		const toExclude = ['_id', '_rev', 'isFavourite', 'createdAt']
		const fixed = ['name', 'email', 'phone']
		Object.keys(data)
			.filter(k => toExclude.indexOf(k) === -1)
			.forEach(k => {
				if (fixed.indexOf(k) === -1 && data[k] === null) delete orig[k]
				else orig[k] = data[k]
			})
		return orig
	}

	export function reset () {
		customFields = []
		userFields = []
		form.reset()
		const fields = [nameField, mailField, phoneField]
		fields.forEach(field => field.reset())
	}

	function checkCustomLabel (event, index ) {
		const {target: input} = event.detail;
		const customLabel = input.value;
		const hasDouble = customFields
			.concat(userFields)
			.some((field, i) => i !== index && field.input && field.input.value === customLabel)
		if (hasDouble) input.setCustomValidity('Custom labels must be unique')
		else {
			customFields.forEach(field => {
				if (field.input) {
					field.input.setCustomValidity('')
					field.input.checkValidity()
				}
			})
		}
		customFields[index].input = input;
		checkFormValidity();
	}

	function checkFormValidity () {
		const inputList = form.querySelectorAll('input');
		invalidForm = false
		for (const input of inputList) {
			if (!input.reportValidity()) invalidForm = true;
		}
	}

	function mapToContact (formData) {
		const contact = {}
		for (const datum of formData) {
			const [key, value] = datum
			if (key.startsWith('customFieldLabel') && !!formData.get(key)) {
				const label = formData.get(key)
				const valueKey = key.replace('Label', 'Value')
				contact[label] = formData.get(valueKey)
			}
			else if (
				key.startsWith('customFieldLabel')
				|| key.startsWith('customFieldValue')
			) continue
			else contact[key] = !!value ? value : null
		}
		return contact
	}

	function addField() {
		customFields = customFields.concat({
			label: `customFieldLabel${customFields.length}`,
			value: `customFieldValue${customFields.length}`
		})
	}
</script>

<style lang="sass">
	$green: #090;
	form {
		margin: 0 auto 2rem;
		width: 33.3333%;
		min-width: 20rem;
		max-width: 50rem;
	}
	button {
		width: 100%;
		text-transform: lowercase;
		font-weight: 200;
		display: block;
		&:hover:not(:disabled) {
			background: #222;
			color: #eee;
		}
		&:disabled {
			opacity: 0.7;
			cursor: auto;
		}
		&.add {
			font-size: 0.75rem;
			background: transparent;
		}
		&.submit:not(:disabled) {
			background: $green;
			color: #fff;
			border-color: darken($green, 10%);
			&:hover {
				background: darken($green, 10%);
				border-color: darken($green, 20%);
			}
		}
	}
</style>

<form bind:this={form}
	on:submit|preventDefault={event => onSubmit(event, nameField, mailField, phoneField)}
	out:fade|local={{duration: 100}}
>
	<InputBox name={'name'} required={true} label={'name'} bind:this={nameField} on:keyup={checkFormValidity}></InputBox>
	<InputBox name={'email'} type={'email'} label={'email'} bind:this={mailField} on:keyup={checkFormValidity}></InputBox>
	<InputBox name={'phone'} type={'tel'} label={'phone'} bind:this={phoneField} on:keyup={checkFormValidity}></InputBox>

	{#each userFields as field, i}
		<InputBox name={field.label} label={field.label} value={field.value} on:keyup={checkFormValidity}></InputBox>
	{/each}

	{#each customFields as custom, i}
		<div>
			<InputBox name={custom.label} label={'field name'} on:keyup={ev => checkCustomLabel(ev, i)}></InputBox>
			<InputBox name={custom.value} label={'value'} on:keyup={checkFormValidity}></InputBox>
		</div>
	{/each}
	<button class="add" type="button" on:click={addField}>Add field</button>
	<button type="reset" on:click={reset}>Reset</button>
	<button type="submit" class="submit" disabled={invalidForm}>{submitText}</button>
</form>