<script>
	import { scale, fly } from 'svelte/transition'
	import { createEventDispatcher } from 'svelte'

	export let contact
	export let showDelete = false
	export let disableHover = false
	export let showFull = false
	const dispatch = createEventDispatcher()

	function remove (toRemove) {
		dispatch('remove', {
			contact: {...toRemove}
		})
	}

	function toggleFavourite (updated) {
		// isFavourite value already set through binding
		dispatch('update', {
			contact: {...updated}
		})
	}

	function details (contact) {
		return Object.keys(contact)
			.filter(
				k => k.toLowerCase() !== 'name'
					&& k.charAt(0) !== '_'
					&& k.toLowerCase() !== 'isfavourite'
			)
			.filter( k => showFull ? k : k.toLowerCase() !== 'createdat')
			.map(k => k === 'createdAt'
				? ({key: 'Created', value: new Date(contact[k]).toLocaleString()})
				: ({key: k, value: contact[k]})
			)
	}

	function stopEvent(ev) {
		// clicking the label triggers click on input as well
		ev.stopPropagation()
	}
</script>

<style lang="sass">
	$red: #B21E28;
	$blue: #09C;
	.contact-card {
		padding: 1.5rem;
		background: #fff;
		border: 2px solid #eee;
		margin-bottom: 1rem;
		border-radius: 0.25rem;
		width: 33.3333%;
		min-width: 20rem;
		max-width: 40rem;
		cursor: pointer;
		box-shadow:
			0 1px 1px rgba(0,0,0,0.2),
			0 10px 0 -5px #eee,
			0 1px 1px -4px rgba(0,0,0,0.2);
		&.disableHover { cursor: normal; }
		&:hover:not(.disableHover) { border-color: $red; }
	}
	h2, li { font-weight: 200; }
	h2 { margin-bottom: 0.5rem; position: relative;}
	li { line-height: 1.5; font-size: 0.9rem }
	.delete {
		background: transparent;
		position: absolute;
		right: 0;
		top: 0;
		line-height: 1;
		padding:  0.1rem;
		border: none;
		&:hover {
			color: #B21E28;
			font-weight: 700
		}
	}
	.key { text-transform: capitalize; font-weight: 400; }
	.favourite {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		& + label {
			display: inline-block;
			border:  2px solid $red;
			background: transparent;
			position: relative;
			width: 1.25rem;
			height: 1.25rem;
			border-radius: 50%;
			top: -0.3rem;
			color: transparent;
			font-size: 60%;
			line-height: 1.1;
			text-align: center;
			transition: all 0.3s ease-in;
			cursor: pointer;
		}
		&:checked + label {
			background: #B21E28;
			color: #eee;
		}
		&:focus + label {
			outline: 3px solid $blue;
		}
	}
</style>

<div class="contact-card"
	class:disableHover={disableHover}
	in:scale|local={{delay:50}}
	out:fly|local={{x:200}}
	on:click
	on:mouseover
>
	<h2>
		<input
			id={contact._id}
			class="favourite"
			type="checkbox"
			bind:checked={contact.isFavourite}
			on:click={stopEvent}
			on:change={() => toggleFavourite(contact)}
		><label for={contact._id} on:click={stopEvent}>&#9733;</label>
		{contact.name}
		{#if showDelete}
			<button class="delete" type="button" on:click|stopPropagation={() => remove(contact)}>&#8855;</button>
		{/if}
	</h2>
	<ul>
		{#each details(contact) as item}
		<li>
			<strong class="key">{item.key}: </strong> {!!item.value ? item.value : '/'}
		</li>
		{/each}
	</ul>
</div>