<svelte:options accessors />

<script>
	import { createEventDispatcher, onMount } from 'svelte'

	export let type = 'text'
	export let name
	export let required =  false
	export let label
	export let input = null
	export let value = null

	const dispatch = createEventDispatcher()
	let filled = false
	let touched = false
	let id

	onMount(() => {
		const arr = new Uint32Array(1);
		window.crypto.getRandomValues(arr)
		id = '' + name + arr[0]
		filled = input.value
	})

	function onChange (event) {
		dispatch('change', event)
		const {value} = event.target;
		filled = !!value
	}
	export function reset() {
		filled = false
		touched = false
	}

	function onKeyup (event) {
		dispatch('keyup', event)
		const {value} = event.target;
		filled = !!value
	}
</script>

<style lang="sass">
	.input-box {
		position: relative;
		border: 0.5rem solid #fff;
		margin-bottom: 0.5rem;
		width: 100%;
		min-width: 20ch;
		input, label { transition: all 0.3s ease-out; }
		input {
			width: 100%;
			outline: none;
			box-shadow: none;
			margin: 0;
			padding: 0.9rem 0.4rem 0.4rem 0.4rem;
		}
		label {
			position: absolute;
			left:  0.4rem;
			top: 1rem;
			opacity: 0.7;
			font-style: italic;
			transform-origin: top left;
		}
		input:focus + label,
		input.filled + label {
			transform: translateY(-1rem) scale(0.8);
			opacity: 1;
			font-weight: 700;
			font-style: normal;
		}
		input.filled:invalid {
			border-bottom: 2px dashed #B21E28;
		}
		input.filled:valid {
			border-bottom: 2px dotted #090;
		}
	}
</style>
<div class="input-box">
	<input id={id} type={type} name={name} required={required} value={value} class:filled={filled} on:change={onChange} on:keyup={onKeyup} bind:this={input}>
	<label for={id}>{label}</label>
</div>