<script>
	export let segment;
</script>

<style lang="sass">
	$red: #B21E28;
	nav {
		border-top: 1px solid $red;
		font-weight: 300;
		padding: 0 1em;
		background: #222;
		font-size: 0.9rem;
	}

	ul {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: inline-block;
		&:hover, &:focus {
			background: $red;
			a { color: #fff; }
		}
	}

	a, a:hover {
		padding: 1em 0.5em;
		display: block;
		color: lighten($red, 15%);
	}
	a:focus {
		outline: 0;
		color: #fff;
		background: $red;
	}
	.selected {
		position: relative;
		display: inline-block;
		color: #fff;
		&::after {
			position: absolute;
			content: '';
			width: calc(100% - 1em);
			height: 0.2rem;
			background-color: $red;
			display: block;
			top: -1px;
		}
		&:hover::after {
			background-color: #fff;
		}
	}
	@media screen and (min-width: 704px) {
		nav { font-size: 1rem; }
	}
</style>

<nav>
	<ul>
		<li><a class='{segment === undefined ? "selected" : ""}' href='.'>home</a></li>
		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
		<li><a rel=prefetch class='{segment === "favourites" ? "selected" : ""}' href='favourites'>favourites</a></li>
		<li><a rel=prefetch class='{segment === "add-contact" ? "selected" : ""}' href='add-contact'>add contact</a></li>
		<li><a class='{segment === "about" ? "selected" : ""}' href='about'>about</a></li>
	</ul>
</nav>