/* minimal reset */
html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
/* END RESET */

@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation_Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation_Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation_Light_Italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Sansation';
    src: url('fonts/Sansation_Bold_Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* personal defaults */

html {
	font: 400 16px/1.3 'Sansation', 'Helvetica Neue', Helvetica ,sans-serif;
}
button {
	cursor: pointer;
	transition: all 0.2s ease-out;
}
button, input, select, textarea {
	outline: none;
}

/* end personal defaults */

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}


a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #fff;
	outline: none;
}
button:disabled {
	background-color: #f4f4f4;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* Custom global styles */

body {
	background-color: #eee;
}

input, select, textarea {
	border-color: transparent transparent #699 transparent;
}